body {
    font-family: sans-serif;
    background-color: orange;
    margin-top: 10px;
}

.middle {
    text-align: center;
}

.text-bold {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

